*{
    
    background-color: rgb(241, 195, 195);
}
.btngroup> button{
    background-color: blue;
    border: none;
    color:rgb(240, 245, 245);
    padding: 15px 30px;
    text-align: center;
    font-size: 15px;
    margin: 4px 2px;
    opacity: 0.5;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;

}
.btngroup:hover{
    opacity: 1;
}
.mainBlock{
    display: flex;
    align-items:center ;
    justify-content: center;
    flex-direction: column;
    top: 20px;
    height: 100vh;
}